* {
  margin: 0 auto;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}

header{
  text-align: center;
  background-color: blue;
  flex: 3;
}

header h1{
  padding: 20px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

input:focus {
 background-color: yellow;
}

.suggestions{
  flex: 1;
  background-color: gray;
}


.search-container {
 /* TODO */
  background-color: red;
  text-align: center;
  padding: 10px;
  flex: 1;
}
/* .search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
} */

ul {
  /* TODO */
  background-color: whitesmoke;
}


ul li:hover {
  /* TODO */
  border: 1px black solid;
  outline: #4CAF50 solid 1px;
}

