body{
  background-color: #a0d8ef; 
  background-image: linear-gradient(to bottom right, #a0d8ef, #ffffff);
  background-size: cover;
  background-attachment: fixed; 

  position: relative;
  width: 100%; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.search-container {
  text-align: center;
  padding: 20px;
}

input{
  height: 50px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input, .suggestions{
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  width: 500px;
}

input:focus {
 background-color: yellow;
}

.suggestions{
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  background-color: gray;
}

ul {
  background-color: whitesmoke;
  text-align: left;
}

ul li:hover {
  border: 1px black solid;
  outline: #4CAF50 solid 1px;
}

